@import "tailwindcss";
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #1CD8D2, #00bf8f, #302b63);
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #302b63, #00bf8f, #1CD8D2);
}
html {
  scroll-behavior: smooth;
}


body{
  font-family: "poppins", sans-serif;
  margin: 0;
  background-color: black;

}
h1, h2, h3, h4, h5, h6 {
  font-family: "roboto", sans-serif;
}

@layer utilities {
  .gradient {
    background: linear-gradient(-45deg, #302b63, #00bf8f, #1cd8d2);
  }
}

